# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Flask instance folder
instance/

# PyCharm
.idea/

# VS Code
.vscode/

# Logs and databases
*.log
*.sqlite3
*.db

# Uploaded files
uploads/

# Dishes folder
**/dishes/

cameras_config.py